<div class="wrapper">
  <div class="left">
    <%= render "boards/board_list", boards: @boards %>
  </div>

  <div class="right">
    <%= render "users/friend_list", users: @users %> 
  </div>
</div>
