<div class="contents row">
  <p><%= @nickname %>さんの情報</p>
  <p><%= @birth_day %>さんの情報</p>

  <%# <% if current_user ==@user %>
    <%# <button id="friend-want-btn" data-friend-want="<%= @user.friend_want %>"> %>
      <%# <%=@user.friend_want? "友達募集中": "友達を探す" %> %>
    <%# </button> %>
  <%# <%end%> %> %>
  
</div>