default: &default
  encoding: utf8
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>

development:
  <<: *default
  adapter: mysql2
  username: root
  password: 
  host: 127.0.0.1
  port: 3306
  database: katarine_development

test:
  <<: *default
  adapter: mysql2
  username: root
  password:
  host: 127.0.0.1
  database: katarine_test

production:
  <<: *default
  adapter: postgresql
  url: <%= ENV['DATABASE_URL'] %>