default: &default
  encoding: utf8
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>

development:
  <<: *default
  adapter: mysql2
  username: root
  password: 
  host: localhost
  port: 3306
  socket: /run/mysqld/mysqld.sock
  database: katarine_development

test:
  <<: *default
  adapter: mysql2
  username: root
  password:
  host: localhost
  socket: /run/mysqld/mysqld.sock
  database: katarine_test

production:
  <<: *default
  adapter: postgresql
  url: <%= ENV['DATABASE_URL'] %>