<h1>投稿編集ページ</h1>
<%= form_with(model: @board, local: true) do |form| %>
  <h2>投稿タイトル</h2>
  <%= form.text_field :title ,class: "form_control",placeholder: "タイトル"%>
  <h3>投稿内容</h3>
  <%= form.text_area :description ,class: "form_control",placeholder: "120字以内で記入してください"%>
  <%= form.submit '掲示板を更新する' %>
<% end %>