<div class="wrapper">
  <div class="left">
    <%= render "boards/board_list", boards: @boards %>
  </div>
  <div class="right">
  <div>
</div>

<%# <div class="wrapper">
  <div class="chat_area">
    <%=render "chat_area"%>
  <%# </div>
  <div class="friends_area">
    <%=render "friends_area"%>
  <%# </div>
</div> %> 