/*index*/
.wrapper{
  display: flex;
}
.left{
  width: 60%;
  background-color: bisque;
}
.right{
  width:calc(100% - 60%);
  background-color: aliceblue;
}
.make_boards{
  font-size: 30px;
  text-decoration: none;
  padding: 10px;
}
.say_come{
  font-size: 40px;
}

/*board_show*/
.board{
  justify-content: center;
  border: 2px solid black;
  padding:0 20px;
}
