/*index*/
.wrapper{
  display: flex;
  height: 100vh;
}
.left{
  width: 40%;
  height: 100%;
  /* background-color: #ff7f50; */
}
.center{
  width: 40%;
  height: 100%;
  /* background-color: #ffff00; */
}
.right{
  width: 20%;
  height: auto;
  /* background-color: #add8e6; */
}
.make_boards{
  font-size: 30px;
  text-decoration: none;
  padding: 10px;
}
.say_come{
  font-size: 3vh;
  overflow: hidden;
  box-sizing: border-box;
}

/*user_show*/
.user_show_contents{
  display: flex;
}
.user_show_left{
  width: 50vw;
  background-color: aliceblue;
  overflow: hidden; 
}

.user_show_right{
  width: 50vw;
  background-color: blanchedalmond;
}
.friend_buttons{
  display: flex;
  flex-direction: column ;
  /* overflow: hidden; */
}
.link_button_show{
  width:8vw;
  border: 2px solid black;
  text-align: center;
  padding: auto;
  background-color: blanchedalmond;
}

